[submodule "mmr-cli"]
	path = mmr-cli
	url = https://github.com/havaianasdestruido/mmr-cli.git
[submodule "mmr-gui"]
	path = mmr-gui
	url = https://github.com/havaianasdestruido/mmr-gui.git
[submodule "mmr-python"]
	path = mmr-python
	url = https://github.com/havaianasdestruido/mmr-python.git
